{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": ["eslint:recommended", "google"],
    "env": {
      "node": true,
      "es6": true
    },
    "rules": {
        "no-console": 0,
        "max-len": "off"
    }
}
